# AWS
AWS_REGION=us-east-1
S3_BUCKET=tc2-fiap-datalake
ATHENA_DATABASE=tc2_gold
ATHENA_S3_OUTPUT=s3://tc2-fiap-athena-results/

# Base dos Dados (billing para consultar a fonte publica de microdados)
BD_BILLING_PROJECT=seu-projeto-billing
